CORS_ORIGIN=

AUTH_CSRF_SECRET=

MAIL_SENDER_HOST=
MAIL_SENDER_PORT=
MAIL_SENDER_USERNAME=
MAIL_SENDER_PASSWORD=

VK_OAUTH_APP_ID=
VK_OAUTH_APP_KEY=
VK_OAUTH_APP_SECRET=
VK_OAUTH_REDIRECT_URL=

DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_NAME=

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
