{
    "swagger": "2.0",
    "info": {
        "description": "Наше API",
        "title": "NeXus",
        "contact": {}
    },
    "host": "clac-clac.mooo.com",
    "basePath": "/api",
    "paths": {
        "/appeals": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает все обращения, созданные текущим авторизованным пользователем",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "appeals"
                ],
                "summary": "Получить список обращений",
                "responses": {
                    "200": {
                        "description": "Успешный ответ со списком обращений",
                        "schema": {
                            "$ref": "#/definitions/dto.Appeals"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Создает новое обращение (тикет) от лица авторизованного пользователя",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "appeals"
                ],
                "summary": "Создать обращение",
                "parameters": [
                    {
                        "description": "Данные обращения",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.EntityAppealRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/appeals/{link}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Удаляет конкретное обращение по его UUID",
                "tags": [
                    "appeals"
                ],
                "summary": "Удалить обращение",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID обращения",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request (невалидный UUID)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Меняет статус существующего обращения (доступно только для support/admin)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "appeals"
                ],
                "summary": "Изменить статус обращения",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID обращения",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Новый статус",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ChangeAppealStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden (Недостаточно прав)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/appeals/{link}/attachment": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Загружает изображение (multipart/form-data) и прикрепляет его к обращению",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "appeals"
                ],
                "summary": "Загрузить вложение к обращению",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID обращения",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "Файл вложения (PNG/JPEG)",
                        "name": "attachment",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_UploadAttachmentResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/boards": {
            "get": {
                "description": "Возвращает все доски, к которым у авторизованного пользователя есть доступ",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Получить список досок пользователя",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-array_dto_BoardInfoResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot get boards",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Создает новую доску на основе переданных данных",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Создать новую доску",
                "parameters": [
                    {
                        "description": "DTO для создания доски",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.CreateBoardRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_BoardInfoResponse"
                        }
                    },
                    "400": {
                        "description": "invalid request schema",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot create board",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/boards/{board_link}/sections": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает массив всех секций, привязанных к конкретной доске.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Получить все секции доски",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID доски",
                        "name": "board_link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешное получение списка секций",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_SectionsResponse"
                        }
                    },
                    "400": {
                        "description": "Некорректный UUID доски",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/boards/{board_link}/sections/reorder": {
            "patch": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Обновляет порядок секций на доске. Передается упорядоченный массив UUID секций.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Перемещение секций",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID доски",
                        "name": "board_link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Новый порядок секций (массив UUID)",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ListSectionLink"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Порядок секций успешно обновлен",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Некорректный запрос, неверные данные секции, внешний ключ или пропущены поля",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Не все переданные секции найдены для реордера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/boards/{link}": {
            "get": {
                "description": "Возвращает информацию о доске по её UUID ссылке",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Получить информацию о доске",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID доски",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_BoardInfoResponse"
                        }
                    },
                    "400": {
                        "description": "invalid board link / board link missing",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "action denied",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "board not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot get boards",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Обновляет метаданные доски (имя, описание, фон)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Обновить информацию о доске",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID доски",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "DTO с новыми данными для обновления",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UpdateBoardRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "status ok",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "invalid request schema",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "action denied",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "board not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot update board",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Удаляет доску по её UUID ссылке",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Удалить доску",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID доски для удаления",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "status ok",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "invalid board link / board link missing",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "action denied",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "board not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot delete board",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/boards/{link}/background": {
            "put": {
                "description": "Загружает изображение (multipart/form-data) и устанавливает его как фон доски",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Загрузить фон для доски",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID доски",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "Файл изображения (например, PNG/JPEG)",
                        "name": "background",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_BackgroundUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "invalid board link / invalid content type / cannot find background key",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "board not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot update background / cannot read file",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/boards/{link}/users": {
            "get": {
                "description": "Возвращает массив UUID всех пользователей, имеющих доступ к доске",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "boards"
                ],
                "summary": "Получить пользователей доски",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID доски",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список UUID пользователей",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-array_string"
                        }
                    },
                    "400": {
                        "description": "invalid board link / board link missing",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "board not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot get users of board",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/cards": {
            "post": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Добавляет новую карточку в указанную секцию от лица текущего авторизованного пользователя.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Создание новой карточки",
                "parameters": [
                    {
                        "description": "Данные для создания карточки",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.NewCard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Карточка создана, возвращает информацию о ее расположении",
                        "schema": {
                            "$ref": "#/definitions/dto.PlaceCard"
                        }
                    },
                    "400": {
                        "description": "Некорректный запрос или превышена максимальная длина текста",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Указанная секция не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Конфликт данных (например, карточка уже существует)",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/cards/{link}": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает детали карточки (название, описание, дедлайн, исполнитель) по ее уникальной ссылке (UUID).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Получение информации о карточке",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID карточки",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешное получение информации о карточке",
                        "schema": {
                            "$ref": "#/definitions/dto.InfoCard"
                        }
                    },
                    "400": {
                        "description": "Некорректный UUID в пути",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Карточка не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Изменяет детали существующей карточки (название, описание, дедлайн, исполнитель).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Обновление данных карточки",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID карточки",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Новые данные карточки",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UpdatingCardDetails"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Карточка успешно обновлена",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Некорректный запрос или превышена максимальная длина текста",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Карточка не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Удаляет карточку по ее уникальной ссылке (UUID).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Удаление карточки",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID карточки",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Карточка успешно удалена",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Некорректный UUID в пути",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Карточка не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/cards/{link}/reorder": {
            "patch": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Изменяет порядок карточки в текущей секции или переносит ее в новую секцию на определенную позицию.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Перемещение карточки",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID перемещаемой карточки",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Новая секция и позиция для карточки",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.PlaceCard"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Карточка успешно перемещена",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Некорректный запрос или нарушение логики (пропуск обязательной секции)",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Карточка не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/check-code": {
            "post": {
                "description": "Проверяет корректность 6-значного кода, отправленного на почту.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Проверка кода восстановления",
                "parameters": [
                    {
                        "description": "Код из письма",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.RecoveryCodeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Код верен",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "invalid schema",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "internal server error",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/csrf": {
            "get": {
                "description": "Генерирует новый CSRF токен и записывает его в Cookie.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "csrf"
                ],
                "summary": "Установка CSRF куки",
                "responses": {
                    "200": {
                        "description": "Успешная установка куки (ok)",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        },
                        "headers": {
                            "Set-Cookie": {
                                "type": "string",
                                "description": "csrf_token=...; Path=/; Secure; SameSite=Lax"
                            }
                        }
                    },
                    "500": {
                        "description": "cannot create csrf token",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/forgot-password": {
            "post": {
                "description": "Генерирует код восстановления и отправляет его на указанный email. Поддерживает rate-limiting.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Запрос восстановления пароля",
                "parameters": [
                    {
                        "description": "Email пользователя",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.PasswordRecoveryRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Код успешно отправлен",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "invalid schema",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "user does not exists",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too many requests. Wait X seconds",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        },
                        "headers": {
                            "Retry-After": {
                                "type": "string",
                                "description": "Время до следующей попытки в секундах"
                            }
                        }
                    },
                    "500": {
                        "description": "cannot send recovery code / internal server error",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "Аутентификация пользователя по email и паролю. Устанавливает HTTP-only cookie с сессией.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Вход в систему",
                "parameters": [
                    {
                        "description": "Учетные данные пользователя",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.LogInRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешная аутентификация",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_auth_handler_dto_UserInfoResponse"
                        }
                    },
                    "400": {
                        "description": "invalid schema / invalid email or password",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "wrong email or password",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "internal server error",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "description": "Удаляет сессию пользователя из хранилища и очищает cookie.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Выход из системы",
                "responses": {
                    "200": {
                        "description": "Успешный выход (ok)",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Проверяет валидность текущей сессии пользователя (извлекается через middleware).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Проверка авторизации",
                "responses": {
                    "200": {
                        "description": "Успешная авторизация (ok)",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "401": {
                        "description": "user not authorized",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth/vk": {
            "get": {
                "description": "Коллбэк для авторизации через ВК. Производит редирект на клиент с результатом и устанавливает cookie сессии.",
                "tags": [
                    "auth"
                ],
                "summary": "VK OAuth Callback",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Код авторизации, полученный от ВКонтакте",
                        "name": "code",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Успешная авторизация. Устанавливается Cookie и происходит редирект",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "URL редиректа на клиент"
                            },
                            "Set-Cookie": {
                                "type": "string",
                                "description": "Сессионная кука"
                            }
                        }
                    },
                    "400": {
                        "description": "Отсутствует код (ошибка: oauth_code_empty)"
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера"
                    },
                    "502": {
                        "description": "Ошибка обмена токена, API ВКонтакте или отсутствие email"
                    }
                }
            }
        },
        "/profiles": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает информацию о текущем авторизованном пользователе (ID, имя, email, URL аватара).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Получение профиля пользователя",
                "responses": {
                    "200": {
                        "description": "Успешное получение профиля",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_profile_handler_dto_UserInfoResponse"
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Пользователь не найден",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Изменяет отображаемое имя (DisplayName) и описание профиля пользователя.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Обновление данных профиля",
                "parameters": [
                    {
                        "description": "Новые данные профиля",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UpdatedInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Профиль успешно обновлен",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Некорректный формат, ошибка валидации длины, пропущены обязательные поля или неверные данные",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/profiles/avatar": {
            "put": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Загружает новый аватар для пользователя. Ожидается multipart/form-data с полем 'avatar'. Поддерживаемые форматы: jpeg, png, jpg, webp.",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Обновление аватара профиля",
                "parameters": [
                    {
                        "type": "file",
                        "description": "Файл изображения аватара",
                        "name": "avatar",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Аватар успешно загружен, возвращает новый URL",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_AvatarResponse"
                        }
                    },
                    "400": {
                        "description": "Файл слишком большой, отсутствует или имеет неверный формат",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Пользователь не найден",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Ошибка при обработке файла (Seek error)",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Удаляет текущий аватар пользователя (возвращает к дефолтному состоянию или удаляет файл).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Удаление аватара профиля",
                "responses": {
                    "200": {
                        "description": "Аватар успешно удален",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "401": {
                        "description": "Пользователь не авторизован",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Пользователь не найден",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/profiles/{user_link}": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает информацию о пользователе (ID, имя, email, URL аватара) по его уникальной ссылке (UUID).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "profile"
                ],
                "summary": "Получение профиля пользователя по ссылке",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID пользователя",
                        "name": "user_link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешное получение профиля",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_profile_handler_dto_UserInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Некорректный UUID",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Пользователь не найден",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "description": "Создает новый аккаунт и сразу авторизует пользователя, выдавая сессионную cookie.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Регистрация нового пользователя",
                "parameters": [
                    {
                        "description": "Данные для регистрации",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Пользователь успешно создан",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_auth_handler_dto_UserInfoResponse"
                        }
                    },
                    "400": {
                        "description": "invalid schema / invalid email or password / user exists / empty fields",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "internal server error",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/reset-password": {
            "post": {
                "description": "Устанавливает новый пароль пользователя с помощью проверенного токена.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Сброс пароля",
                "parameters": [
                    {
                        "description": "Новый пароль и токен",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.NewPasswordRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Пароль успешно изменен",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "invalid schema / invalid email or password / missing field / token expired",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "user not found",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "cannot reset password",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sections": {
            "post": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Создает новую секцию (колонку) на доске.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Создание секции",
                "parameters": [
                    {
                        "description": "Данные для создания секции",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.CreatingSection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Секция успешно создана",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_FullSectionInfo"
                        }
                    },
                    "400": {
                        "description": "Некорректный запрос, превышены лимиты задач, неверный внешний ключ или отсутствуют обязательные поля",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Секция с таким названием/ссылкой уже существует",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sections/{link}": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает информацию о конкретной секции (колонке) по её UUID.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Получение секции",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID секции",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешное получение данных секции",
                        "schema": {
                            "$ref": "#/definitions/api.OkResponse-dto_FullSectionInfo"
                        }
                    },
                    "400": {
                        "description": "Некорректный UUID в пути",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Секция не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Изменяет данные существующей секции (название, цвет, макс. кол-во задач). Попытка обновить параметры системного Backlog вызовет ошибку.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Обновление секции",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID секции",
                        "name": "link",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Новые данные секции",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.FullSectionInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Секция успешно обновлена",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Ошибка валидации, попытка изменить Backlog, неверный цвет, неверный внешний ключ или пустые обязательные поля",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Секция не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Удаляет секцию (колонку) по её UUID. Нельзя удалять системную секцию Backlog.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sections"
                ],
                "summary": "Удаление секции",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID секции",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Секция успешно удалена",
                        "schema": {
                            "$ref": "#/definitions/api.Response"
                        }
                    },
                    "400": {
                        "description": "Попытка удалить Backlog, неверный внешний ключ, нарушены данные карточек или пустые обязательные поля",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Секция не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sections/{link}/cards": {
            "get": {
                "security": [
                    {
                        "CookieAuth": []
                    }
                ],
                "description": "Возвращает список всех актуальных карточек, находящихся в указанной секции, отсортированных по позиции.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cards"
                ],
                "summary": "Получение карточек секции",
                "parameters": [
                    {
                        "type": "string",
                        "description": "UUID секции",
                        "name": "link",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешное получение списка карточек",
                        "schema": {
                            "$ref": "#/definitions/dto.CardsSection"
                        }
                    },
                    "400": {
                        "description": "Некорректный формат UUID секции",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Секция не найдена",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "schema": {
                            "$ref": "#/definitions/api.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/stats": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Возвращает количество обращений по статусам (доступно только для support/admin)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "appeals"
                ],
                "summary": "Получить статистику обращений",
                "responses": {
                    "200": {
                        "description": "Успешный ответ со статистикой",
                        "schema": {
                            "$ref": "#/definitions/dto.AppealStats"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden (Недостаточно прав)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "api.ErrorResponse": {
            "description": "Структура сообщения об ошибке",
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-array_dto_BoardInfoResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dto.BoardInfoResponse"
                    }
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-array_string": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_AvatarResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.AvatarResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_BackgroundUpdateResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.BackgroundUpdateResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_BoardInfoResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.BoardInfoResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_FullSectionInfo": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.FullSectionInfo"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_SectionsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.SectionsResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-dto_UploadAttachmentResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/dto.UploadAttachmentResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_auth_handler_dto_UserInfoResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_auth_handler_dto.UserInfoResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.OkResponse-github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_profile_handler_dto_UserInfoResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_profile_handler_dto.UserInfoResponse"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "api.Response": {
            "description": "Базовый ответ",
            "type": "object",
            "properties": {
                "status": {
                    "type": "string"
                }
            }
        },
        "dto.Appeal": {
            "description": "Полная информация о созданном обращении",
            "type": "object",
            "properties": {
                "appeal_id": {
                    "type": "integer",
                    "example": 42
                },
                "appeal_link": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "attachment_key": {
                    "type": "string",
                    "example": "attachments/screenshot_1.png"
                },
                "category": {
                    "type": "string",
                    "example": "bug"
                },
                "created_at": {
                    "type": "string",
                    "example": "2023-10-12T07:20:50.52Z"
                },
                "description": {
                    "type": "string",
                    "example": "При нажатии на кнопку ничего не происходит."
                },
                "display_name": {
                    "type": "string",
                    "example": "Не работает кнопка оплаты"
                },
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "status": {
                    "type": "string",
                    "example": "new"
                }
            }
        },
        "dto.AppealStats": {
            "description": "Статистика количества обращений по их текущему статусу",
            "type": "object",
            "properties": {
                "close": {
                    "type": "integer",
                    "example": 42
                },
                "in_work": {
                    "type": "integer",
                    "example": 4
                },
                "open": {
                    "type": "integer",
                    "example": 15
                }
            }
        },
        "dto.Appeals": {
            "description": "Ответ, содержащий массив обращений",
            "type": "object",
            "properties": {
                "appeals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dto.Appeal"
                    }
                },
                "role": {
                    "type": "string",
                    "example": "user"
                }
            }
        },
        "dto.AvatarResponse": {
            "description": "Ответ с новой ссылкой на загруженный аватар после успешного обновления",
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string",
                    "example": "https://example.com/images/avatars/user123.jpg"
                }
            }
        },
        "dto.BackgroundUpdateResponse": {
            "type": "object",
            "properties": {
                "background_url": {
                    "type": "string",
                    "example": "/static/backgrounds/123e4567.png"
                }
            }
        },
        "dto.BoardInfoResponse": {
            "type": "object",
            "properties": {
                "background": {
                    "type": "string",
                    "example": "#FFFFFF"
                },
                "created_at": {
                    "type": "string",
                    "example": "2026-04-11T12:10:06Z"
                },
                "description": {
                    "type": "string",
                    "example": "Основной рабочий процесс"
                },
                "link": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "name": {
                    "type": "string",
                    "example": "Project Alpha"
                }
            }
        },
        "dto.Card": {
            "description": "Краткая информация о карточке задачи",
            "type": "object",
            "properties": {
                "card_link": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "dead_line": {
                    "type": "string",
                    "example": "2026-04-12T14:35:00Z"
                },
                "executer_name": {
                    "type": "string",
                    "example": "Иван Иванов"
                },
                "title": {
                    "type": "string",
                    "example": "Починить баг на фронтенде"
                }
            }
        },
        "dto.CardsSection": {
            "description": "Ответ, содержащий массив карточек секции",
            "type": "object",
            "properties": {
                "cards": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dto.Card"
                    }
                }
            }
        },
        "dto.ChangeAppealStatus": {
            "description": "Запрос на изменение статуса обращения",
            "type": "object",
            "properties": {
                "status": {
                    "type": "string",
                    "example": "in_progress"
                }
            }
        },
        "dto.CreateBoardRequest": {
            "type": "object",
            "properties": {
                "background": {
                    "type": "string",
                    "example": "#FFFFFF"
                },
                "description": {
                    "type": "string",
                    "example": "Основной рабочий процесс"
                },
                "name": {
                    "type": "string",
                    "example": "Project Alpha"
                }
            }
        },
        "dto.CreatingSection": {
            "description": "Данные для создания новой секции",
            "type": "object",
            "properties": {
                "board_link": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "color": {
                    "type": "string",
                    "example": "red"
                },
                "is_mandatory": {
                    "type": "boolean",
                    "example": false
                },
                "max_tasks": {
                    "type": "integer",
                    "example": 10
                },
                "section_name": {
                    "type": "string",
                    "example": "To Do"
                }
            }
        },
        "dto.EntityAppealRequest": {
            "description": "Данные запроса на создание нового обращения (тикета)",
            "type": "object",
            "properties": {
                "category": {
                    "type": "string",
                    "example": "bug"
                },
                "description": {
                    "type": "string",
                    "example": "При нажатии на кнопку ничего не происходит."
                },
                "display_name": {
                    "type": "string",
                    "example": "Не работает кнопка оплаты"
                },
                "mail": {
                    "type": "string",
                    "example": "user@example.com"
                }
            }
        },
        "dto.FullSectionInfo": {
            "description": "Полные данные секции",
            "type": "object",
            "properties": {
                "color": {
                    "type": "string",
                    "example": "red"
                },
                "is_mandatory": {
                    "type": "boolean",
                    "example": true
                },
                "max_tasks": {
                    "type": "integer",
                    "example": 10
                },
                "position": {
                    "type": "integer",
                    "example": 1
                },
                "section_link": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "section_name": {
                    "type": "string",
                    "example": "To Do"
                }
            }
        },
        "dto.InfoCard": {
            "description": "Полная информация о карточке задачи",
            "type": "object",
            "properties": {
                "data_dead_line": {
                    "type": "string",
                    "example": "2026-04-15T15:04:05Z"
                },
                "description": {
                    "type": "string",
                    "example": "Собрать метрики за Q3 и подготовить презентацию"
                },
                "link_card": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "name_executer": {
                    "type": "string",
                    "example": "Иван Иванов"
                },
                "title": {
                    "type": "string",
                    "example": "Написать отчет"
                }
            }
        },
        "dto.ListSectionLink": {
            "description": "Массив UUID секций в нужном порядке",
            "type": "object",
            "properties": {
                "list_links": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "123e4567-e89b-12d3-a456-426614174001",
                        "123e4567-e89b-12d3-a456-426614174002"
                    ]
                }
            }
        },
        "dto.LogInRequest": {
            "description": "Данные для входа в систему",
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                },
                "password": {
                    "type": "string",
                    "example": "p@ssword123"
                }
            }
        },
        "dto.NewCard": {
            "description": "Данные для создания новой карточки",
            "type": "object",
            "properties": {
                "data_dead_line": {
                    "type": "string",
                    "example": "2026-05-01T12:00:00Z"
                },
                "description": {
                    "type": "string",
                    "example": "Описание для новой задачи"
                },
                "link_author": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "link_executer": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "link_section": {
                    "type": "string",
                    "example": "987e6543-e21b-12d3-a456-426614174111"
                },
                "title": {
                    "type": "string",
                    "example": "Новая задача"
                }
            }
        },
        "dto.NewPasswordRequest": {
            "description": "Установка нового пароля после проверки токена",
            "type": "object",
            "properties": {
                "password": {
                    "type": "string",
                    "example": "new_password_123"
                },
                "repeated_password": {
                    "type": "string",
                    "example": "new_password_123"
                },
                "token_id": {
                    "type": "string",
                    "example": "uuid-token-string"
                }
            }
        },
        "dto.PasswordRecoveryRequest": {
            "description": "Запрос восстановления пароля через Email",
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "user@example.com"
                }
            }
        },
        "dto.PlaceCard": {
            "description": "Данные о новом местоположении карточки (секция и позиция)",
            "type": "object",
            "properties": {
                "link_card": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "link_section": {
                    "type": "string",
                    "example": "987e6543-e21b-12d3-a456-426614174111"
                },
                "position": {
                    "type": "integer",
                    "example": 2
                }
            }
        },
        "dto.RecoveryCodeRequest": {
            "description": "Код подтверждения из письма",
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "example": "123456"
                }
            }
        },
        "dto.RegisterRequest": {
            "description": "Модель регистрации нового пользователя",
            "type": "object",
            "properties": {
                "display_name": {
                    "type": "string",
                    "example": "Ivan Ivanov"
                },
                "email": {
                    "type": "string",
                    "example": "ivan@mail.com"
                },
                "password": {
                    "type": "string",
                    "example": "securePassword"
                },
                "repeated_password": {
                    "type": "string",
                    "example": "securePassword"
                }
            }
        },
        "dto.SectionsResponse": {
            "description": "Ответ, содержащий массив всех секций доски",
            "type": "object",
            "properties": {
                "sections": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/dto.FullSectionInfo"
                    }
                }
            }
        },
        "dto.UpdateBoardRequest": {
            "type": "object",
            "properties": {
                "background": {
                    "type": "string",
                    "example": "https://example.com/bg.png"
                },
                "description": {
                    "type": "string",
                    "example": "Обновленное описание"
                },
                "name": {
                    "type": "string",
                    "example": "Project Beta"
                }
            }
        },
        "dto.UpdatedInfo": {
            "description": "Данные для изменения имени и описания пользователя",
            "type": "object",
            "properties": {
                "description_user": {
                    "type": "string",
                    "example": "Hello! I am SEO"
                },
                "display_name": {
                    "type": "string",
                    "example": "Ivan Ivanov"
                }
            }
        },
        "dto.UpdatingCardDetails": {
            "description": "Данные для изменения свойств карточки",
            "type": "object",
            "properties": {
                "data_dead_line": {
                    "type": "string",
                    "example": "2026-06-01T18:30:00Z"
                },
                "description": {
                    "type": "string",
                    "example": "Дополненное описание задачи"
                },
                "link_card": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "link_executer": {
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                },
                "title": {
                    "type": "string",
                    "example": "Обновленный заголовок"
                }
            }
        },
        "dto.UploadAttachmentResponse": {
            "description": "Ответ после загрузки вложения",
            "type": "object",
            "properties": {
                "attachment_url": {
                    "type": "string",
                    "example": "https://bucket.endpoint/attachments/uuid.png"
                }
            }
        },
        "github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_auth_handler_dto.UserInfoResponse": {
            "type": "object",
            "properties": {
                "avatar": {
                    "type": "string",
                    "example": "https://example.com/avatar.jpg"
                },
                "display_name": {
                    "type": "string",
                    "example": "Ivan Ivanov"
                },
                "email": {
                    "type": "string",
                    "example": "ivan@mail.com"
                },
                "link": {
                    "type": "string"
                }
            }
        },
        "github_com_go-park-mail-ru_2026_1_Clac_Clac_internal_profile_handler_dto.UserInfoResponse": {
            "description": "Полные данные профиля пользователя, возвращаемые клиенту",
            "type": "object",
            "properties": {
                "avatar_url": {
                    "type": "string",
                    "example": "https://example.com/avatar.jpg"
                },
                "description_user": {
                    "type": "string",
                    "example": "Hello! I am SEO"
                },
                "display_name": {
                    "type": "string",
                    "example": "Ivan Ivanov"
                },
                "email": {
                    "type": "string",
                    "example": "ivan@mail.com"
                },
                "link": {
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                }
            }
        }
    }
}